#messageSender.PROVIDER_COMPONENT_NAME_REQUIRED.messagingProviderName=dummy
messageSender.PROVIDER_COMPONENT_NAME.destination=dummy
messageSender.PROVIDER_COMPONENT_NAME.replyTo=dummy
messageSender.PROVIDER_COMPONENT_NAME.headerFormatName=N9999001

messageSender.DESTINATION_REQUIRED.messagingProviderName=dummy
#messageSender.DESTINATION_REQUIRED.destination=dummy
messageSender.DESTINATION_REQUIRED.replyTo=dummy
messageSender.DESTINATION_REQUIRED.headerFormatName=N9999001

messageSender.REPLY_TO_REQUIRED.messagingProviderName=dummy
messageSender.REPLY_TO_REQUIRED.destination=dummy
#messageSender.REPLY_TO_REQUIRED.replyTo=dummy
messageSender.REPLY_TO_REQUIRED.headerFormatName=N9999001

messageSender.HEADER_FORMAT_NAME_REQUIRED.messagingProviderName=dummy
messageSender.HEADER_FORMAT_NAME_REQUIRED.destination=dummy
messageSender.HEADER_FORMAT_NAME_REQUIRED.replyTo=dummy
#messageSender.HEADER_FORMAT_NAME_REQUIRED.headerFormatName=N9999001

messageSender.INVALID_INTEGER.messagingProviderName=dummy
messageSender.INVALID_INTEGER.destination=dummy
messageSender.INVALID_INTEGER.replyTo=dummy
messageSender.INVALID_INTEGER.headerFormatName=N9999001
messageSender.INVALID_INTEGER.retryCount=aaa

messageSender.INVALID_LONG.messagingProviderName=dummy
messageSender.INVALID_LONG.destination=dummy
messageSender.INVALID_LONG.replyTo=dummy
messageSender.INVALID_LONG.headerFormatName=N9999001
messageSender.INVALID_LONG.timeout=bbb

messageSender.HEADER_FORMAT_FILE_NOT_FOUND.messagingProviderName=dummy
messageSender.HEADER_FORMAT_FILE_NOT_FOUND.destination=dummy
messageSender.HEADER_FORMAT_FILE_NOT_FOUND.replyTo=dummy
messageSender.HEADER_FORMAT_FILE_NOT_FOUND.headerFormatName=unknown

messageSender.SENDING_DATA_FORMAT_FILE_NOT_FOUND.messagingProviderName=dummy
messageSender.SENDING_DATA_FORMAT_FILE_NOT_FOUND.destination=dummy
messageSender.SENDING_DATA_FORMAT_FILE_NOT_FOUND.replyTo=dummy
messageSender.SENDING_DATA_FORMAT_FILE_NOT_FOUND.headerFormatName=N9999001

messageSender.RECEIVED_DATA_FORMAT_FILE_NOT_FOUND.messagingProviderName=dummy
messageSender.RECEIVED_DATA_FORMAT_FILE_NOT_FOUND.destination=dummy
messageSender.RECEIVED_DATA_FORMAT_FILE_NOT_FOUND.replyTo=dummy
messageSender.RECEIVED_DATA_FORMAT_FILE_NOT_FOUND.headerFormatName=N9999001
