# DEFAULT
messageSender.DEFAULT.httpMessagingUserId=user01
messageSender.DEFAULT.httpMethod=GET
messageSender.DEFAULT.httpConnectTimeout=
messageSender.DEFAULT.httpReadTimeout=
messageSender.DEFAULT.beforeSyncMessageReplaceComponentName=
messageSender.DEFAULT.afterSyncMessageReplaceComponentName=
messageSender.DEFAULT.sslContextComponentName=
messageSender.DEFAULT.proxyComponentName=

# RM21AB0100
messageSender.RM21AB0100.messageSenderClient=defaultMessagingClient
messageSender.RM21AB0100.uri=http://localhost:8090/rm21ab0100
