messageSender.DEFAULT.formatDir=format

messageSender.MESSAGE_CONVERTOR_NOT_FOUND.messagingProviderName=dummy
messageSender.MESSAGE_CONVERTOR_NOT_FOUND.destination=dummy
messageSender.MESSAGE_CONVERTOR_NOT_FOUND.replyTo=dummy
messageSender.MESSAGE_CONVERTOR_NOT_FOUND.headerFormatName=N9999001
messageSender.MESSAGE_CONVERTOR_NOT_FOUND.messageConvertorName=unknown
