messageSender.DEFAULT.formatDir=format

messageSender.MESSAGING_PROVIDER_NOT_FOUND.messagingProviderName=unknown
messageSender.MESSAGING_PROVIDER_NOT_FOUND.destination=dummy
messageSender.MESSAGING_PROVIDER_NOT_FOUND.replyTo=dummy
messageSender.MESSAGING_PROVIDER_NOT_FOUND.headerFormatName=N9999001
