# DEFAULT
# \u30c7\u30d5\u30a9\u30eb\u30c8\u8a2d\u5b9a
messageSender.DEFAULT.messagingProviderName=defaultProvider
messageSender.DEFAULT.destination=QUEUE1
messageSender.DEFAULT.replyTo=REPLY1
messageSender.DEFAULT.retryCount=3
messageSender.DEFAULT.formatDir=format
messageSender.DEFAULT.headerFormatName=N9999001
messageSender.DEFAULT.messageConvertorName=customDefaultMessageSenderSupport

# RM21AA0404
messageSender.RM21AA0404.layoutFileBasePathName=format
messageSender.RM21AA0404.headerFormatName=N8888001
messageSender.RM21AA0404.messageConvertorName=customMessageSenderSupport

# RM21AA0505
messageSender.RM21AA0505.layoutFileBasePathName=format
messageSender.RM21AA0505.headerFormatName=N7777001