# DEFAULT
messageSender.DEFAULT.httpMessagingUserId=user01
messageSender.DEFAULT.httpMethod=GET
messageSender.DEFAULT.httpConnectTimeout=0
messageSender.DEFAULT.httpReadTimeout=1
messageSender.DEFAULT.sslContextComponentName=defaultSSLContextSettings
messageSender.DEFAULT.proxyComponentName=nopHttpProxySettings
messageSender.DEFAULT.syncMessagingEventHookNames=dummySyncMessagingEventHookA,dummySyncMessagingEventHookB

# RM21AB0100
messageSender.RM21AB0100.messageSenderClient=defaultMessagingClient
messageSender.RM21AB0100.uri=http://localhost:8090/rm21ab0100

# RM21AB0200
messageSender.RM21AB0200.messageSenderClient=defaultMessagingClient
messageSender.RM21AB0200.uri=http://localhost:8090/rm21ab0200
messageSender.RM21AB0200.syncMessagingEventHookNames=stubSyncMessagingEventHookA

# RM21AB0300
messageSender.RM21AB0300.messageSenderClient=messagingClientThrowException
messageSender.RM21AB0300.uri=http://localhost:8090/rm21ab0300
messageSender.RM21AB0300.syncMessagingEventHookNames=stubSyncMessagingEventHookA

# RM21AB0310
messageSender.RM21AB0310.messageSenderClient=messagingClientThrowException
messageSender.RM21AB0310.uri=http://localhost:8090/rm21ab0310
messageSender.RM21AB0310.syncMessagingEventHookNames=stubSyncMessagingEventHookB,stubSyncMessagingEventHookC
